h1 {
    background-color: #851944;
    color: #FFFFFF;
    text-align: center;
}

h1, h2 {
    font-family: "Arial", sans-serif;
}

body {
    background-color: #F2FFFC;
}

p {
    text-align: justify;
    font-family: "Times New Roman", serif;
}